{% extends 'base.html' %}
{% block title %}السجل{% endblock %}

{% block style %}
{% endblock %}

{% block body %}

<div class="container my-5" style="background-color: #FFFFFF;">
    <div class="logo-container" style="background-color: #FFFFFF;">
        <div class="logo-text my-0" style="color: #0d6efd;">
            <br> السجل
        </div>
    </div>
</div>

<div class="section-divider">
    <svg viewBox="0 0 1440 100">
        <path fill="#ffffff" d="M0,0 L1440,0 L1440,100 L0,100 Z"></path>
    </svg>
</div>

    <!-- Section جدول المستخدمين -->
    <section class="container-fluid py-5 bg-light" style="background-color: #dee2e6;">
        <div class="container py-2" style="background-color: #dee2e6;">
            <div class="table-responsive shadow-sm rounded  p-2 bg-light">
                <table class="table table-striped table-hover align-middle mb-0">
                    <thead class="table-dark text-center">
                        <tr>
                            <th scope="col" class="border border-2 rounded-3 py-4 fs-4"
                                style="color:#FFFFFF; font-weight:bold;"> المسجلون في النظام
                            </th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        {% for user in users %}
                        <tr>
                            <td class="fw-bold">{{user['username']}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    
        <div class="section-divider">
            <svg viewBox="0 0 1440 100">
                <path fill="#ffffff" d="M0,0 L1440,0 L1440,100 L0,100 Z"></path>
            </svg>
        </div>

    <!--  جدول المنتجات -->
    <section class="container-fluid py-4 bg-light">
        <div class="container">

            <div class="table-responsive shadow-sm rounded">
                <table class="table table-striped table-hover align-middle mb-0">
                    <thead class="table-dark text-center">
                        <tr>
                            <th scope="col">التاريخ</th>
                            <th scope="col">المنتج</th>
                            <th scope="col">الحركة</th>
                            <th scope="col">الكمية</th>
                            <th scope="col">المستخدم</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        {% for item in history_of_movements%}
                        <tr>
                            <td>{{ (item.added_at + timedelta(hours=3)).strftime('%Y-%m-%d %I:%M%p')}}</td>       
                            <td>{{ item['product_name'] }}</td>
                            {% if item['type'] == "in" %}
                            <td><span class="badge bg-success">{{ item['type'] | translate_movements }}</span> </td>
                            {% else %}
                            <td><span class="badge bg-danger">{{ item['type'] | translate_movements }}</span> </td>
                            {% endif %}

                            <td>{{ item['quantity'] }}</td>
                            <td>
                            <p class="fw-bold">{{ item['user_name'] }}</p>

                            </td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </section>


{% endblock %}
