<!doctype html>
<html lang="ar" dir="rtl">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>طلب إعادة تعيين كلمة المرور</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <style>
    body {
      background-color: #e9eff4;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 40px; /* هامش علوي افتراضي */
    }

    @media (min-width: 768px) {
      body {
        padding-top: 80px; /* هامش أكبر لأجهزة اللابتوب */
      }
    }
  </style>
</head>
<body>

  <!-- صورة الموقع -->
  <img src="{{ url_for('static', filename='images/logo.png') }}" alt="شعار الموقع" style="max-width:120px; margin-bottom:20px;">

  <!-- بطاقة إعادة تعيين كلمة المرور -->
  <div class="card shadow-sm" style="max-width:400px; width:100%;">
    <div class="card-body text-center">
      <h4 class="card-title mb-4 fw-bold">طلب إعادة تعيين كلمة المرور </h4>

      <!-- اذا كان هناك خطا فهذا سيظهر -->
      {% for message in get_flashed_messages() %}
      <div class="flash alert alert-danger alert-dismissible fade show">{{ message }}</div>
      {% endfor %}

      <form method="post" novalidate>

      {{ form.hidden_tag() }} {# علشان الحماية من CSRF #}
      
        <div class="mb-3 text-end">
        {{ form.username.label(class_="form-label fw-bold") }}
        {{ form.username(
          autocomplete="name",
          class_="form-control "~
          ("is-invalid" if form.username.errors else "")
          ,
          autofocus = true if form.username.errors else false,
          value= username_from_url if username_from_url else ''
        ) }}

        {% for err in form.username.errors %}
            <div class="invalid-feedback d-block">
                {{ err }}
            </div>
        {% endfor %}
        </div>
        <div class="mb-3 text-end">
        {{ form.email.label(class_="form-label fw-bold") }}
        {{ form.email(
          autocomplete="email",
          class_="form-control "~
          ("is-invalid" if form.email.errors else "")
          ,
          autofocus = true if form.email.errors else false,
          value= email_from_url if email_from_url else ''
        ) }}

        {% for err in form.email.errors %}
            <div class="invalid-feedback d-block">
                {{ err }}
            </div>
        {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary w-100">أرسل رابط إعادة التعيين</button>
      </form>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
